<html>
    <body>
    <form method="post" action="/processing">
    Name: <input type="text" name="name" >   
    Gender: <input type="text" name="gender" >  
    <input type="Submit"> 
    </body>
</form>
</html>